@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700,900");
@import url(mobile.css) (max-width: 1024px);
@import url(desktop.css) (min-width: 1025px);
*, html {
  margin: 0;
  padding: 0;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear; }

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFF;
  color: #4f4f4f;
  font-size: 1em;
  font-weight: 400; }

article {
  display: block; }

aside {
  display: block; }

footer {
  display: block; }

header {
  display: block; }

nav {
  display: block; }

section {
  display: block; }

a {
  color: #333;
  background: transparent;
  text-decoration: none; }
  a:active {
    outline: 0; }
  a:hover {
    outline: 0; }

strong {
  font-weight: 700; }

b {
  font-weight: 400; }

[hidden] {
  display: none; }

template {
  display: none; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  html input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer; }
  html input[disabled] {
    cursor: default; }

.clr {
  clear: both; }

h1 {
  margin: 0;
  padding: 0; }

h2 {
  margin: 0;
  padding: 0; }

h3 {
  margin: 0;
  padding: 0; }

h4 {
  margin: 0;
  padding: 0; }

h5 {
  margin: 0;
  padding: 0; }

h6 {
  margin: 0;
  padding: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #333; }

small {
  font-size: 80%; }

img {
  border: 0; }

fieldset {
  border: none;
  padding: 0; }

dd {
  margin: 0;
  margin: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0; }

button {
  margin: 0;
  line-height: normal;
  -webkit-appearance: button;
  cursor: pointer; }
  button::-moz-focus-inner {
    border: 0;
    padding: 0; }

input {
  margin: 0;
  line-height: normal; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }

select {
  margin: 0; }

textarea {
  margin: 0;
  overflow: auto;
  vertical-align: top; }

label {
  margin: 0; }

input[type="reset"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled] {
  cursor: default; }

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none; }
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

tr {
  margin: 0;
  padding: 0; }

td {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

dl {
  margin: 0;
  padding: 0; }

dt {
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

p {
  margin: 10px 0;
  padding: 0; }

.row-separator {
  display: block;
  clear: both; }

.bt {
  padding: 10px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

div.card {
  background-color: #f2f2f2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 2px 5px #bdbdbd;
  -webkit-box-shadow: 0 2px 5px #bdbdbd;
  -moz-box-shadow: 0 2px 5px #bdbdbd;
  -o-box-shadow: 0 2px 5px #bdbdbd;
  -ms-box-shadow: 0 2px 5px #bdbdbd;
  overflow: hidden;
  margin: 20px 0; }
  div.card .entry-card {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (doesn't work very well) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    align-items: flex-center;
    flex-direction: row;
    flex-wrap: wrap; }
    div.card .entry-card .left, div.card .entry-card .right {
      position: relative; }
      div.card .entry-card .left .entry, div.card .entry-card .right .entry {
        padding: 15px; }
    div.card .entry-card .left {
      -webkit-box-flex: 1;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-flex: 1;
      /* OLD - Firefox 19- */
      -webkit-flex: 1;
      /* Chrome */
      -ms-flex: 1;
      /* IE 10 */
      flex: 1;
      background-color: #828282;
      color: #f2f2f2; }
      div.card .entry-card .left .date-time {
        display: block;
        font-size: 1.8em;
        font-weight: 900;
        text-align: center;
        border-bottom: 1px solid #f2f2f2;
        padding: 20px 0; }
      div.card .entry-card .left p.entry-info {
        font-size: 0.8em;
        padding: 10px 0; }
      div.card .entry-card .left div.more-actions figure.icon-action, div.card .entry-card .left div.more-actions a.bt {
        float: left; }
      div.card .entry-card .left div.more-actions figure.icon-action {
        text-align: center;
        position: relative;
        width: 20%; }
        div.card .entry-card .left div.more-actions figure.icon-action img {
          width: 100%;
          height: auto; }
        div.card .entry-card .left div.more-actions figure.icon-action figcaption {
          font-size: 0.8em;
          font-weight: 100;
          text-transform: uppercase; }
      div.card .entry-card .left div.more-actions a.bt {
        background-color: #bdbdbd;
        font-size: 0.8em;
        margin: 5% 10%; }
      div.card .entry-card .left div.more-actions:after {
        content: "";
        clear: both;
        display: block; }
    div.card .entry-card .right {
      -webkit-box-flex: 4;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-flex: 4;
      /* OLD - Firefox 19- */
      -webkit-flex: 4;
      /* Chrome */
      -ms-flex: 4;
      /* IE 10 */
      flex: 4;
      background-color: #e0e0e0; }
      div.card .entry-card .right header.head-card {
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 5px;
        margin-bottom: 5px; }
        div.card .entry-card .right header.head-card h2.title-card, div.card .entry-card .right header.head-card aside.detail {
          float: left; }
        div.card .entry-card .right header.head-card h2.title-card {
          font-size: 3.5em;
          text-transform: uppercase;
          width: 35%;
          overflow-wrap: break-word; }
        div.card .entry-card .right header.head-card aside.detail {
          width: 65%; }
          div.card .entry-card .right header.head-card aside.detail ul.list-detail li.item-detail {
            display: block;
            padding: 5px 0; }
        div.card .entry-card .right header.head-card:after {
          content: "";
          clear: both;
          display: block; }
      div.card .entry-card .right .content-card figure.picture-city {
        display: block;
        position: relative; }
        div.card .entry-card .right .content-card figure.picture-city img {
          width: 100%;
          height: auto; }
      div.card .entry-card .right .content-card dl.info-voucher-card dt, div.card .entry-card .right .content-card dl.info-voucher-card dd {
        display: inline-block;
        padding: 5px;
        font-size: 0.8em; }
      div.card .entry-card .right .content-card dl.info-voucher-card dt {
        font-weight: 700; }
      div.card .entry-card .right .content-card table.table-info-voucher {
        margin: 10px 0;
        width: 100%;
        font-size: 0.9em;
        text-align: center; }
        div.card .entry-card .right .content-card table.table-info-voucher th, div.card .entry-card .right .content-card table.table-info-voucher td {
          position: relative; }
        div.card .entry-card .right .content-card table.table-info-voucher th {
          background-color: #bdbdbd; }
        div.card .entry-card .right .content-card table.table-info-voucher tr {
          padding: 5px 0; }
        div.card .entry-card .right .content-card table.table-info-voucher td {
          padding: 5px; }
          div.card .entry-card .right .content-card table.table-info-voucher td.company img {
            width: 100%;
            height: auto;
            max-width: 50px; }
          div.card .entry-card .right .content-card table.table-info-voucher td.flag img {
            display: inline;
            margin: 2px;
            max-width: 32px; }
    div.card .entry-card footer.foot-card-info p {
      font-size: 0.8em;
      padding: 10px;
      margin: 0; }
  div.card.city .right header.head-card h2, div.card.general .right header.head-card h2 {
    float: none !important;
    width: 100% !important; }
  div.card.services .content-card .card.items {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (doesn't work very well) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    align-items: flex-center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 0; }
    div.card.services .content-card .card.items img.icon {
      -webkit-box-flex: 1;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-flex: 1;
      /* OLD - Firefox 19- */
      -webkit-flex: 1;
      /* Chrome */
      -ms-flex: 1;
      /* IE 10 */
      flex: 1;
      padding: 5px;
      background-color: #828282; }
    div.card.services .content-card .card.items div.description {
      -webkit-box-flex: 4;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-flex: 4;
      /* OLD - Firefox 19- */
      -webkit-flex: 4;
      /* Chrome */
      -ms-flex: 4;
      /* IE 10 */
      flex: 4;
      padding: 10px;
      font-size: 0.8em; }
    div.card.services .content-card .card.items button.bt {
      -webkit-box-flex: 1;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-flex: 1;
      /* OLD - Firefox 19- */
      -webkit-flex: 1;
      /* Chrome */
      -ms-flex: 1;
      /* IE 10 */
      flex: 1; }

#principal header#page-header {
  background-color: #e0e0e0;
  padding: 5px 0;
  position: relative; }
  #principal header#page-header aside.side-tag-page {
    font-weight: 700;
    padding: 10px; }
  #principal header#page-header nav.nav-menu-top ul li {
    display: inline-block;
    font-size: 0.8em; }
    #principal header#page-header nav.nav-menu-top ul li a {
      display: block;
      position: relative;
      padding: 10px 15px;
      z-index: 0; }
      #principal header#page-header nav.nav-menu-top ul li a span.text {
        display: block;
        z-index: 1; }
      #principal header#page-header nav.nav-menu-top ul li a span.i-alert {
        color: #f2f2f2;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        padding: 5px;
        background-color: #828282;
        font-size: 0.6em;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3; }
  #principal header#page-header aside.side-profile dl {
    float: left;
    line-height: 1.3em; }
    #principal header#page-header aside.side-profile dl dt {
      font-size: 0.6em; }
    #principal header#page-header aside.side-profile dl dd {
      font-weight: 700; }
  #principal header#page-header aside.side-profile figure.picture {
    float: right;
    width: 36px; }
    #principal header#page-header aside.side-profile figure.picture img {
      width: 100%;
      height: auto;
      padding: 2px; }
  #principal header#page-header aside.side-profile:after {
    content: "";
    clear: both;
    display: block; }
  #principal header#page-header div.header-area-info {
    position: relative;
    background-image: url(../../img/banner/img-miami-banner.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 380px; }
    #principal header#page-header div.header-area-info .center {
      height: 100%;
      position: relative; }
      #principal header#page-header div.header-area-info .center aside.info-agency {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        height: 100%;
        background-color: rgba(244, 244, 244, 0.9); }
        #principal header#page-header div.header-area-info .center aside.info-agency div.entry {
          padding: 20px; }
          #principal header#page-header div.header-area-info .center aside.info-agency div.entry figure.logo-agency {
            display: block;
            padding: 10px; }
            #principal header#page-header div.header-area-info .center aside.info-agency div.entry figure.logo-agency img {
              width: 100%;
              height: auto; }
          #principal header#page-header div.header-area-info .center aside.info-agency div.entry div.info-advertise {
            padding: 20px 10px;
            border-top: 1px solid #828282;
            border-bottom: 1px solid #828282; }
            #principal header#page-header div.header-area-info .center aside.info-agency div.entry div.info-advertise h4.title-agency {
              padding: 5px 0; }
            #principal header#page-header div.header-area-info .center aside.info-agency div.entry div.info-advertise span {
              font-weight: 400; }
            #principal header#page-header div.header-area-info .center aside.info-agency div.entry div.info-advertise p {
              font-weight: 100;
              font-size: 0.8em; }
          #principal header#page-header div.header-area-info .center aside.info-agency div.entry address.info-contacts {
            padding: 20px 0;
            font-style: normal;
            font-weight: 400;
            font-size: 0.7em; }
            #principal header#page-header div.header-area-info .center aside.info-agency div.entry address.info-contacts ul li {
              padding: 5px 0;
              display: block; }
              #principal header#page-header div.header-area-info .center aside.info-agency div.entry address.info-contacts ul li i {
                padding: 8px;
                display: inline;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: 100%;
                margin-right: 10px; }
                #principal header#page-header div.header-area-info .center aside.info-agency div.entry address.info-contacts ul li i.icon-mail {
                  background-image: url(../../img/icon-mail); }
                #principal header#page-header div.header-area-info .center aside.info-agency div.entry address.info-contacts ul li i.icon-phone {
                  background-image: url(../../img/icon-phone); }
              #principal header#page-header div.header-area-info .center aside.info-agency div.entry address.info-contacts ul li span.phone {
                font-weight: 700;
                font-size: 1.1em; }
      #principal header#page-header div.header-area-info .center aside.side-info-banner {
        position: absolute;
        background-color: rgba(244, 244, 244, 0.9);
        -webkit-border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        -ms-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
        right: 0;
        bottom: 0; }
        #principal header#page-header div.header-area-info .center aside.side-info-banner div {
          padding: 15px 20px; }
          #principal header#page-header div.header-area-info .center aside.side-info-banner div.info-banner-welcome {
            padding-top: 40px; }
            #principal header#page-header div.header-area-info .center aside.side-info-banner div.info-banner-welcome h3.title-customer {
              display: inline-block;
              margin-right: 10px; }
              #principal header#page-header div.header-area-info .center aside.side-info-banner div.info-banner-welcome h3.title-customer span.hello {
                display: block;
                font-size: 0.8em;
                font-weight: normal; }
            #principal header#page-header div.header-area-info .center aside.side-info-banner div.info-banner-welcome a.bt {
              display: inline-block;
              background-color: #828282;
              font-size: 0.8em;
              color: #f2f2f2;
              margin: 0 50px; }
          #principal header#page-header div.header-area-info .center aside.side-info-banner div.info-local-banner h2.title-local {
            font-size: 2.5em; }
            #principal header#page-header div.header-area-info .center aside.side-info-banner div.info-local-banner h2.title-local span.hello {
              display: block;
              font-size: 0.3em;
              font-weight: normal; }
          #principal header#page-header div.header-area-info .center aside.side-info-banner div.info-local-banner a.a-info-local {
            display: inline-block;
            font-size: 0.8em; }
        #principal header#page-header div.header-area-info .center aside.side-info-banner:after {
          content: "";
          clear: both;
          display: block; }

#principal .center:after {
  content: "";
  clear: both;
  display: block; }

.light-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8); }
  .light-box .box {
    left: 15%;
    position: absolute;
    z-index: 20;
    top: 2%;
    height: 100%;
    width: 70%;
    overflow: scroll;
    background-color: #f2f2f2; }
    .light-box .box .content {
      padding: 20px; }
      .light-box .box .content .entry-content dl.tips dt {
        margin: 5px 0; }
      .light-box .box .content .entry-content dl.tips dd {
        font-size: 0.9em;
        font-weight: 100;
        line-height: 1.3em; }
      .light-box .box .content a.close {
        display: block;
        float: right;
        color: #f2f2f2;
        padding: 10px;
        font-size: 1.5em;
        background-color: rgba(0, 0, 0, 0.8);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px; }
  .light-box:target {
    display: block; }

/*# sourceMappingURL=base.css.map */
