@mixin center-content($width_content){
    width: $width_content;
    margin: 0 auto;
}
@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin transition-linear($time){
    transition: all $time linear;
	-webkit-transition: all $time linear;
	-moz-transition: all $time linear;
	-o-transition: all $time linear;
}

@mixin box-sizing($style){
	box-sizing: $style;
    -moz-box-sizing: $style;
    -webkit-box-sizing: $style;
}

@mixin box-shadow($size){
	box-shadow: 0 2px $size $bg_shadow;
	-webkit-box-shadow:0 2px $size $bg_shadow;
	-moz-box-shadow:0 2px $size $bg_shadow;
	-o-box-shadow:0 2px $size $bg_shadow;
	-ms-box-shadow:0 2px $size $bg_shadow;
}

@mixin clear-after($arg){
	content:"";
    @if $arg == true {
	   clear: both;
    }
	display: block;
}
@mixin button-active{
    @include border-radius($radius_border_button);
    background-color:$background_header;
    color: $color_white;
    padding: 10px 15px;
    border-bottom: 2px solid $color_link_base;
    display: inline-block;
    margin: 20px 0;
}
@mixin linear-background($color1, $color2, $direction){
    background-image: linear-gradient($direction, $color1 0%, $color2 100%);
    background-image: -webkit-linear-gradient($direction, $color1 0%, $color2 100%);
    background-image: -moz-linear-gradient($direction, $color1 0%, $color2 100%);
}

@mixin display-flex(){
    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;              /* OLD - Firefox 19- (doesn't work very well) */
    display: -ms-flexbox;           /* TWEENER - IE 10 */
    display: -webkit-flex;          /* NEW - Chrome */
    display: flex;
    align-items: flex-center;
    flex-direction: row;
}

@mixin box-flex($arg){
    -webkit-box-flex: $arg;            /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: $arg;               /* OLD - Firefox 19- */
    -webkit-flex: $arg;                /* Chrome */
    -ms-flex: $arg;                    /* IE 10 */
    flex: $arg;   
}