@import 'reset';
@import 'components';
@import 'header';
@import 'footer';

$color_menu:#e0e0e0;
$color_menu_active:#4f4f4f;
$border_circle_menu:#f2f2f2;
$border_title_job:#bdbdbd;
$font_size_about:2.5em;
$bg_color_card:#f9f9f9;
$bg_color_skill:#2ABBAE;
$bg_color_footer:#0F2B40;
$bg_color_footer_linear1:#219653;
$bg_color_footer_linear2:#07234A;
$font_size_skill_title: 2.5em;
$font_size_skill_content: 0.8em;
$font_size_skill_content_tag: 0.9em;
