@import 'functions';
$width_content:98%;
.center{
    @include center-content($width_content);
}
#principal{
    header#page-header{
        aside.side-tag-page,nav.nav-menu-top{
            float: left;
            margin-right: 30px;
        }
        nav.nav-menu-top{
            ul{
                li{
                    display: inline-block;
                    a{

                    }
                }
            }
        }
        aside.side-profile{
            float: right;
        }
        aside.info-agency{
            width: 30%;
        }
    }
    div.card{
        .entry-card{
            .right{
                header.head-card{
                    h2.title-card{
                        //width: 100%;
                    }
                    aside.detail{
                        //width: 65%;
                    }
                }
            }
        }
    }
}